#container {
  width: 50%;
}

.wrapper {
  height: 100%;
  padding-bottom: 100%;
  position: relative;
  background: white;
}

.circle {
  position: absolute;
  background: white;
  border-radius: 50%;
  border: 10px solid gray
}


.one {
  width: 75%;
  height: 75%;
}

.one :after {
  border: 10px solid blue;
}

.two {
  width: 60%;
  height: 60%;
  top: 7.5%;
  left: 7.5%;
}
.two :after {
  border: 10px solid red;
}

.three {
  width: 45%;
  height: 45%;
  top: 15%;
  left: 15%;
}
.three :after {
  border: 10px solid green;
}

.four {
  width: 30%;
  height: 30%;
  top: 22.5%;
  left: 22.5%;
}
.four ::after {
  border: 10px solid orange;
}

.five {
  width: 15%;
  height: 15%;
  top: 30%;
  left: 30%;
}
.five :after {
  border: 10px solid yellow;
}

.button {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  border: 10px solid darkgray;
  position: absolute;
  top: -20px;
  left: 50%;
}