body {
  display: grid;
  justify-content: center;
  align-items: center;
} 
.slider {
  stroke: #ccc;
  fill: none;
  stroke-width: 15px;
}

.mask {
  stroke: red;
  fill: none;
  stroke-width: 15px;
}